@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext");

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  -webkit-tap-highlight-color: transparent;
  user-select: none; /* Prevent selecting ui text when dragging */
}

html,
body {
  height: 100%;
}

body {
  /* Prevent pull-down-to-refresh gesture */
  overscroll-behavior-y: contain;

  /* Prevent iOS rubber-band effect */
  position: fixed;
  width: 100%;

  /* Prevent browser from handling touch events */
  touch-action: none;

  display: flex;
  flex-direction: column;
  justify-items: stretch;
  align-items: stretch;
}

.wheel-wrapper {
  /* Hide UI during page load */
  visibility: hidden;

  overflow: hidden;
  height: 100%;
  width: 100%;
}

.gui-wrapper {
  padding: 10px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gui-wrapper > div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

select {
  padding: 2px;
}

label {
  margin-right: 5px;
}

.spin {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background: #944c40;
}

.spin:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.spin:active {
  transform: scale(0.95);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-wrapper {
  display: grid;
  place-items: center;
}

@media (max-width: 540px) {
  .tingle-modal {
    top: 50%;
    transform: translateY(-50%);
    display: block;
    padding-top: 60px;
    width: 100%;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.userDetailmodal .tingle-modal-box__content,
.userDetailmodal .tingle-modal-box__footer,
.userDetailmodal .tingle-modal-box {
  background: transparent;
}

.userDetailmodal .tingle-modal-box__content {
  position: relative;
}

@media (max-width: 540px) {
  .tingle-modal {
    top: 0%;
    transform: none;
    overflow-y: visible;
  }

  .userDetailmodal .tingle-modal-box,
  .userDetailmodal .tingle-modal-box__content {
    height: 100%;
  }
}

/* Css for userdetail modal */

.text-center {
  color: #fff;
  text-transform: uppercase;
  font-size: 23px;
  margin: -50px 0 80px 0;
  display: block;
  text-align: center;
}
.box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.89);
  border-radius: 3px;
  padding: 70px 100px;
}
.input-container {
  position: relative;
  margin-bottom: 25px;
}
.input-container label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 16px;
  color: #fff;
  pointer-event: none;
  transition: all 0.5s ease-in-out;
}
.input-container input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: #fff;
}
.input-container input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #e74c3c;
}
.btn {
  color: #fff;
  background-color: #e74c3c;
  outline: none;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label {
  top: -12px;
  font-size: 12px;
}

.winnerHeading {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.winnerHeading.red {
  color: red;
}

.winnerHeading.green {
  color: green;
}
