@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pragati+Narrow&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", sans-serif;
  font-size: 15px;
  -webkit-tap-highlight-color: transparent;
  user-select: none; /* Prevent selecting ui text when dragging */
}

html,
body {
  height: 100%;
}

body {
  /* Prevent pull-down-to-refresh gesture */
  overscroll-behavior-y: contain;

  /* Prevent iOS rubber-band effect */
  position: fixed;
  width: 100%;

  /* Prevent browser from handling touch events */
  touch-action: none;

  display: flex;
  flex-direction: column;
  justify-items: stretch;
  align-items: stretch;
}

.wheel-wrapper {
  /* Hide UI during page load */
  visibility: hidden;

  overflow: hidden;
  height: 100%;
  width: 100%;
}

.gui-wrapper {
  padding: 10px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gui-wrapper > div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

select {
  padding: 2px;
}

label {
  margin-right: 5px;
}

.spin {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #ff512f 0%, #f09819 51%, #ff512f 100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.spin:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.spin:active {
  transform: scale(0.95);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-wrapper {
  display: grid;
  place-items: center;
}

@media (max-width: 540px) {
  .tingle-modal {
    top: 50%;
    transform: translateY(-50%);
    display: block;
    padding-top: 60px;
    width: 100%;
  }
}
